## Clase 5..que era la clase 4!

In [ ]:
# mucho muy importante! primero importar la libreria que quiero suar, en este caso Pandas.

import pandas as pd

# ahora nada puede malir sal....

In [ ]:
# creando una serie simple..

numeros = range(50,70,2) #valores entre 50 y 70, con "saltos" de a 2.

numeros_serie = pd.Series(numeros) # creo una serie que contiene los valores de mi variable "numeros"

print(numeros_serie)
print(type(numeros_serie))

In [ ]:
# si quiero acceder a algun valor de mi serie, lo podria hacer a tarves de su indice

print(numeros_serie[3])

### Nuestra serie de pandas esta formada por:

*   Indices:

In [ ]:
print(numeros_serie.index)

*   Valores:

In [ ]:
print(numeros_serie.values)

Incluso podriamos sacar esos valores y guardarlos pero como un array de numpy...

In [ ]:
nueva_lista = numeros_serie.values

print(nueva_lista)
print(type(nueva_lista))

Podriamos cambiar el valor de los indices? claro que si, pero para eso deberiamos definir una nueva lista con los indices e indicarselo a nuestra serie de pandas...hagamoslo!

In [ ]:
Numeros_en_texto = ['primero','segundo','tercero','cuarto','quinto','sexto','séptimo','octavo','noveno','décimo']

numeros_serie = pd.Series(numeros,index=Numeros_en_texto)

numeros_serie

In [ ]:
# Vamos a crear una estructura de serie

import pandas as pd
serie= pd.Series(data=[1,2,3,4],index=['David','Juan',1,2],name='SerieX')
serie

In [ ]:
# Algunas propiedades de la serie

print('Indice de la serie:',serie.index)
print('Valores de la serie:',serie.values)
print('Longitud de serie:',serie.count())

# Verificar nulos en la serie
serie.isna()

Indexamiento para Series de pandas...

In [ ]:
# Filtrar un indice por el valor del indice.

serie.loc['Juan']

In [ ]:
# Filtrar pero de otra forma, ahora por la poscion del indice.

serie.iloc[1]

In [ ]:
# Filtrar varios indices

serie.loc[['Juan',1]]

In [ ]:
import numpy as np

serie_2= pd.Series(data=[1,2,2,2,3,5,5,np.nan , 20,np.nan])
serie_2

In [ ]:
# Suma de nulos, primero preguntamos por los valores nulos, y si existen sumarlos para saber cuantos hay

serie_2.isnull().sum()

In [ ]:
# Conteo de valores no tiene en cuenta los NaN

serie_2.value_counts()

Funciones vectorizadas desde numpy en pandas

Nos permite operar con las series si tenemos en cuenta que tienen los mismo indices, para eso vamos a crear una nueva serie llamada "numeros_serie_2" porque ya tenemos creada una llamada "numeros_serie".

In [ ]:
numeros_2 = range(51,70,2)
numeros_serie_2 = pd.Series(numeros_2,index=Numeros_en_texto) # recordar que ya se habia creado el indice...

numeros_serie_2

In [ ]:
# podemos sumar estas dos series, lo haran combinandose a traves de sus indices..
# hay varias formas de hacerlo, la primera es simplemente sumarlos (en el caso de querer sumarlos, claro)

numeros_serie_2 + numeros_serie

In [ ]:
# otar forma de hacer lo mismo, es utilizando elmetodo "add()"

numeros_serie_2.add(numeros_serie)

Bien! pero que pasaria si usaramos indices incompatibles?

In [ ]:
numeros_serie_2_porcion = numeros_serie_2[4:7]
numeros_serie_porcion = numeros_serie[5:8]

print(numeros_serie_2_porcion)
print("-+-+-+-+-+-+-+-+-+-+-+-") # soy un separador made in nacho!
print(numeros_serie_porcion)

In [ ]:
print(numeros_serie_porcion + numeros_serie_2_porcion)

Tenemos el problema de que hay valores faltantes! pero no se desesperen que hay una forma de rellenarlos con un valor...que podemos determinar nosotros o incluso podriamos usar algun metodo de rellenado...por ahora solo le daremos un valor

In [ ]:
numeros_serie_porcion.add(numeros_serie_2_porcion,fill_value=0) #usamos fill_value para rellenar lo que falta.

incluso podria suceder que simplemente nos deshagamos de esos valores indeseados, usaremos el metodo "dropna()" para sacar los valores NaN.

In [ ]:
# usemos el mismo ejemplo anterior!

numeros_con_nan = numeros_serie_porcion + numeros_serie_2_porcion
print(numeros_con_nan)

In [ ]:
# ahora si...adios a esos valores Nan!

numeros_con_nan = numeros_con_nan.dropna()
print(numeros_con_nan)

In [ ]:
# aunque si no queremos eliminarlos, podriamos ponerle un valor a esos faltantes...hagamos eso!

numeros_serie_2_porcion = numeros_serie_2[4:7]
numeros_serie_porcion = numeros_serie[5:8]

numeros_con_nan = numeros_serie_porcion + numeros_serie_2_porcion
print(numeros_con_nan)

In [ ]:
# ahora en esa variable, voy a completar los valores NaN con algun valor en particular!

numeros_con_nan = numeros_con_nan.fillna(3) # CUIDADO! No confundir fillna() con fill_value()
print(numeros_con_nan)

----

# Manipulacion de series y dataframes (Ejemplo en vivo)

In [ ]:
# hay varias formas de crear un dataframe con pandas.
# podemos crearlo a traves de combinar varias series de pandas, como por ejemplo lo siguiente.

# 1) crando primero las listas con los elementos que quiero convertir en series.

modelos = ['A4 3.0 Quattro 4dr manual','A4 3.0 Quattro 4dr auto','A6 3.0 4dr','A6 3.0 Quattro 4dr','A4 3.0 convertible 2dr']

peso = [3583, 3627, 3561, 3880, 3814]

precios = ['$33,430', '$34,480', '$36,640', '$39,640', '$42,490']

In [ ]:
# 2) convirtiendo esos valores a series de pandas!

Autos_peso = pd.Series(peso,index=modelos)
Autos_precio = pd.Series(precios,index=modelos) 

print(Autos_precio)
print("-+-+-+-+-+-+-+-+-+-+-+-") # soy un separador made in nacho!
print(Autos_peso)

In [ ]:
# 3) construir mi dataframe en base a las series de pandas creadas anteriormente.

Autos = pd.DataFrame({'Peso':Autos_peso,'Precio':Autos_precio})
print(Autos)
print("-+-+-+-+-+-+-+-+-+-+-+-") # soy un separador made in nacho!
print(type(Autos))

In [ ]:
Autos

Ya tenemos nuestro datafram, ahora podriamos ver como buscar valores dentro de mi objeto bidimensional....

In [ ]:
# Quisiera saber todos los valores de la columna "Peso"

Autos["Peso"]

In [ ]:
# y si quiero una fila en particular? aca podemos usar dos metodos, el primero es con loc, si conozco el nombre del indice

Autos.loc['A4 3.0 Quattro 4dr auto']

In [ ]:
# el segundo metodo es con iloc, sabien la posicion de mi registro (mi fila)

Autos.iloc[1]

In [ ]:
# incluso podria seleccionar teniendo en cuenta una condicion...supongamos que quiero el precio de los autos que pesas mas de 3600..usemos loc!

Autos.loc[Autos.Peso >= 3600,'Precio']

Nota!!! hay otra forma de escribir lo mismo...es la siguiente!!

In [ ]:
Autos.loc[Autos["Peso"] >= 3600,'Precio']

Un concepto importante es que podemos tambien trabajar con operaciones vectorizadas en un dataframe, lo vemos? primero voy a crear un dataframe nuevo!

In [ ]:
# nuevo dataframe con pesos y largo de los autos

largo = [179, 179, 192, 192, 180]
Autos_2 = pd.DataFrame({'Peso':peso,'Largo':largo},index=modelos)
Autos_2

In [ ]:
# supongamos que yo quiero comparar a los autos, y tomo como ejemplo al primero de mi dataframe (es decir en la posicion cero) y quiero ver los valores relativos a mi auto de ejemplo.

Autos_2 / Autos_2.iloc[0] * 100

En lugar de hacer esto, podriamos utilizar un metodo llamado "pct_change()" que nos permite calcular el cambio porcentual en base al valor anterior (recordar que es base al valor anterior!)

In [ ]:
Autos_2['Cambio Porcentual Largo'] = Autos_2['Largo'].pct_change()
Autos_2

In [ ]:
# Creemos un dataframe directamente con las listas en un solo paso!

valores= [1000, 3500, 3000, 4000, 3000 , 2450]
nombres= ['David','Juan','Pedro','Lucas','Andrea','Felipe']
genero=['M','M','M','M','F','M']

df= pd.DataFrame(data={'salarios':valores, 'genero':genero},index=nombres)
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

Como no nos gusta ver este dataframe en esta perspectiva, podriamos cambiar el eje X por el eje Y, es decir "transponer" el dataframe....lo hacemos simple con la letra "T"

In [ ]:
df.T

In [ ]:
# filtremos por genero, pero cuidado! aca guardaremos los resultados en una nueva variable!

df_m= df[df['genero']=='M']
print(df_m)

print('------')

df_f=df[df['genero']=='F']
print(df_f)

In [ ]:
# Otra forma...teniendo en cuenta una condicion o FILTRO ya armado

condicion_h = df['genero']=='M'
condicion_m = df['genero']=='F'

print(df[condicion_h])
print('-------------')
print(df[condicion_m])

In [ ]:
# Algunas cosas adicionales

df.loc['David'][['salarios','genero']]

In [ ]:
df.loc[['David','Juan']][['salarios','genero']]

----

# Lectura de csv t txt

Antes que nada, deberia saber donde estamos parados, ya que lo recomendable es que usemos los archivos con datos del mismo directorio, pero como sabemos en que directorio estamos parados? podemos usar pwd.

In [ ]:
pwd

In [ ]:
os.listdir('C:\\Users\\Ignacio\\Documents\\CODERHOUSE')

Perfecto! ahora se que archivos tengo! y sobre todo sus extensiones

### Desde entorno local (lectura CSV)

In [ ]:
# leyendo un csv

import pandas as pd

mi_csv = "winequality-red.csv" # mis datos

df= pd.read_csv(mi_csv,sep=',') # uso read_csv ya que es un CSV y le digo como esta separado el CSV 

df.head() # Este head() me trae los primeros 5 datos del csv, si le ponemos un numero adentro me traera esa cantidad.

In [ ]:
# Tengo muchas columnas!!! como podria verlas y solo elegir las que necesito?

df.columns # el .columns me da las columnas de mi dataframe

In [ ]:
# Ok, solo necesito 'density','pH','sulphates','alcohol','quality'

df[['density','pH','sulphates','alcohol','quality']].head()

In [ ]:
# pero es un dataframe grande en cantidad de registros...si quisiera ver los ultimos? utilizo el metodo "tail()"

df[['density','pH','sulphates','alcohol','quality']].tail()

### Desde Google Colab (lectura CSV)

In [ ]:
from google.colab import drive
import os
drive.mount('/content/gdrive')

In [ ]:
%cd '/content/gdrive/MyDrive'
df= pd.read_csv('winequality-red.csv',sep=',')
print(df[['density','pH','sulphates','alcohol','quality']].head())

### Desde entorno local (lectura txt)

In [ ]:
# leyendo un txt

import pandas as pd

mi_txt = "pokemon_data.txt" # mis datos

df= pd.read_csv(mi_txt,delimiter='\t') # uso read_csv ya que es un TXT y le digo como esta delimitado el TXT 

df[['Name','Type 1','HP','Attack','Defense']].head() # quiero ver esas columnas, las primeras (uso el metodo "head()")

### Desde Google Colab (lectura txt)

In [ ]:
%cd '/content/gdrive/MyDrive'
df= pd.read_csv('pokemon_data.txt',delimiter='\t')
print(df[['Name','Type 1','HP','Attack','Defense']].head())

### Desde entorno local (lectura xlsx)

In [ ]:
# leyendo un xlsx

import pandas as pd

mi_xlsx = "defaultoutput.xlsx" # mis datos

df= pd.read_excel(mi_xlsx) # uso read_excel ya que es un xlsx.

df[['index','ID','Year_Birth','Education','Income']].head() # quiero ver esas columnas, las primeras (uso el metodo "head()")

### Desde Google Colab (lectura xlsx)

In [ ]:
%cd '/content/gdrive/MyDrive'
df= pd.read_excel('defaultoutput.xlsx')
print(df[['index','ID','Year_Birth','Education','Income']].head())

# Lectura desde Github /Apis

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/JJTorresDS/stocks-ds-edu/main/stocks.csv'
df = pd.read_csv(url, index_col=0)
print(df[['AMZN','MCD','SBUX','GOOG','MSFT']].head(5).round(1))

---

# Lectura de informacion  --EJERCICIO--

Los datos se encuentran en la siguiente link:
[Data Acciones](https://raw.githubusercontent.com/JJTorresDS/stocks-ds-edu/main/stocks.csv)

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/JJTorresDS/stocks-ds-edu/main/stocks.csv'
df = pd.read_csv(url)
df.head()