## Clase 6

# Manipulacion de nulos

In [ ]:
import pandas as pd
import numpy as np
url='https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv'
df= pd.read_csv(url,sep=',', header=None)
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [ ]:
# renombramos las columnas

df= df.rename(columns={0: "NEMB", 1: "GLU", 2: "PART",3:"GROS",4:"HUR",5:"BMI",6:"FPRED",7:"AGE",8:"CLASS"})
df.head()

   NEMB  GLU  PART  GROS  HUR   BMI  FPRED  AGE  CLASS
0     6  148    72    35    0  33.6  0.627   50      1
1     1   85    66    29    0  26.6  0.351   31      0
2     8  183    64     0    0  23.3  0.672   32      1
3     1   89    66    23   94  28.1  0.167   21      0
4     0  137    40    35  168  43.1  2.288   33      1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NEMB    768 non-null    int64
 1   GLU     768 non-null    int64
 2   PART    768 non-null    int64
 3   GROS    768 non-null    int64
 4   HUR     768 non-null    int64
 5   BMI     768 non-null    float64
 6   FPRED   768 non-null    float64
 7   AGE     768 non-null    int64
 8   CLASS   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.shape

(768, 9)

In [ ]:
# metodo describe()

df.describe()

,NEMB,GLU,PART,GROS,HUR,BMI,FPRED,AGE,CLASS
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Se observan muchas columnas con valores minimos de 0 lo cual tiene poco sentido practico como por ejemplo:

    1. Concentracion de plasma de glucosa (GLU)
    2. Presion arterial diastolica en mm Hg (PART).
    3. Grosor de piel en triceps en mm (GROS).
    4. 2-Hour serum insulin en mu U/ml (HUR).
    5. BMI (peso kg/(altura en m)^2 en (BMI).

Calculemos cuantos valores problematicos tenemos

In [ ]:
# contar el numero de nulos por columnas
nun_missing = (df[['GLU','PART','GROS','HUR','BMI']] == 0).sum()
print(nun_missing)

GLU       5
PART     35
GROS    227
HUR     374
BMI      11
dtype: int64

Reemplazar estos valores por nulos

In [ ]:
# reemplazar los valores '0' con 'nan'
df[['GLU','PART','GROS','HUR','BMI']] = df[['GLU','PART','GROS','HUR','BMI']].replace(0, np.nan)

# contar el número de valores nan en cada columna
print(df.isnull().sum())

NEMB       0
GLU        5
PART      35
GROS     227
HUR      374
BMI       11
FPRED      0
AGE        0
CLASS      0
dtype: int64

In [ ]:
df

     NEMB    GLU  PART  GROS    HUR   BMI  FPRED  AGE  CLASS
0       6  148.0  72.0  35.0    NaN  33.6  0.627   50      1
1       1   85.0  66.0  29.0    NaN  26.6  0.351   31      0
2       8  183.0  64.0   NaN    NaN  23.3  0.672   32      1
3       1   89.0  66.0  23.0   94.0  28.1  0.167   21      0
4       0  137.0  40.0  35.0  168.0  43.1  2.288   33      1
..    ...    ...   ...   ...    ...   ...    ...  ...    ...
763    10  101.0  76.0  48.0  180.0  32.9  0.171   63      0
764     2  122.0  70.0  27.0    NaN  36.8  0.340   27      0
765     5  121.0  72.0  23.0  112.0  26.2  0.245   30      0
766     1  126.0  60.0   NaN    NaN  30.1  0.349   47      1
767     1   93.0  70.0  31.0    NaN  30.4  0.315   23      0

[768 rows x 9 columns]

## Opcion 1 : Remover filas con nulos

In [ ]:
# remover filas con na
df.dropna(inplace=True)

# mirar el resultado final
df.shape

(392, 9)

$$\color{red}{\text{OJO!! Remover las filas solo porque tengan nulos no es la mejor forma de trabajar}}$$

## Opcion 2: Imputar los nulos

Para esto tenemos varias opciones
1. Introducir un valor constante para los nulos o una categoria llamada Desconocido en variables categoricas
2. Reemplazar por un valor seleccionado al azar de los otros registros
3. Usar la media, mediana o moda para rellenar el valor
4. Valor estimado usando un modelo (Inputación)

In [ ]:
url='https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv'
df= pd.read_csv(url,sep=',', header=None)

print(df.shape)
df=df.replace(0, np.nan)
print(df.shape)

(768, 9)
(768, 9)

In [ ]:
print(df.head())

     0      1     2     3      4     5      6   7    8
0  6.0  148.0  72.0  35.0    NaN  33.6  0.627  50  1.0
1  1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
2  8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
3  1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
4  NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0

In [ ]:
# reemplazar con la media

df.fillna(df.mean(), inplace=True)
print(df.shape)
print(df.head().round(2))

(768, 9)
      0      1     2      3       4     5     6   7    8
0  6.00  148.0  72.0  35.00  155.55  33.6  0.63  50  1.0
1  1.00   85.0  66.0  29.00  155.55  26.6  0.35  31  1.0
2  8.00  183.0  64.0  29.15  155.55  23.3  0.67  32  1.0
3  1.00   89.0  66.0  23.00   94.00  28.1  0.17  21  1.0
4  4.49  137.0  40.0  35.00  168.00  43.1  2.29  33  1.0

La librería ```scikit-learn``` proporciona la clase de preprocesamiento ```SimpleImputer``` que se puede usar para reemplazar los valores perdidos.

Es una clase flexible que le permite especificar el valor a reemplazar (puede ser algo diferente a NaN) y la técnica utilizada para reemplazarlo (como media, mediana o moda). La clase ```SimpleImputer``` opera directamente en la matriz NumPy en lugar del DataFrame.

El siguiente ejemplo usa la clase SimpleImputer para reemplazar los valores faltantes con la media de cada columna y luego imprime el número de valores de NaN en la matriz transformada.

In [ ]:
from numpy import nan
from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer

url='https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv'
df= pd.read_csv(url,sep=',', header=None)
df=df.replace(0, np.nan)

print(df.shape)
print(df.head())

(768, 9)
     0      1     2     3      4     5      6   7    8
0  6.0  148.0  72.0  35.0    NaN  33.6  0.627  50  1.0
1  1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
2  8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
3  1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
4  NaN  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0

SimpleImputer con media

In [ ]:
# Crear un numpy array con los valores
valores = df.values

# definir el imputador
imputador = SimpleImputer(missing_values=np.nan, strategy='mean')

# trabsformar el dataset
transformados = imputador.fit_transform(valores)

# Contar el numero de NaN en cada columna
print('Missing: %d' % isnan(transformados).sum())
transformados=pd.DataFrame(transformados)

#transformados= transformados.rename(columns={0: "NEMB", 1: "GLU", 2: "PART",3:"GROS",4:"HUR",5:"BMI",6:"FPRED",7:"AGE",8:"CLASS"})
print(transformados.head().round(2))

Missing: 0
      0      1     2      3       4     5     6     7    8
0  6.00  148.0  72.0  35.00  155.55  33.6  0.63  50.0  1.0
1  1.00   85.0  66.0  29.00  155.55  26.6  0.35  31.0  1.0
2  8.00  183.0  64.0  29.15  155.55  23.3  0.67  32.0  1.0
3  1.00   89.0  66.0  23.00   94.00  28.1  0.17  21.0  1.0
4  4.49  137.0  40.0  35.00  168.00  43.1  2.29  33.0  1.0

SimpleImputer con mediana

In [ ]:
# Crear un numpy array con los valores
valores = df.values

# definir el imputador
imputador = SimpleImputer(missing_values=np.nan, strategy='median')

# trabsformar el dataset
transformados = imputador.fit_transform(valores)

# Contar el numero de NaN en cada columna
print('Missing: %d' % isnan(transformados).sum())
transformados=pd.DataFrame(transformados)

#transformados= transformados.rename(columns={0: "NEMB", 1: "GLU", 2: "PART",3:"GROS",4:"HUR",5:"BMI",6:"FPRED",7:"AGE",8:"CLASS"})
print(transformados.head().round(2))

Missing: 0
     0      1     2     3      4     5     6     7    8
0  6.0  148.0  72.0  35.0  125.0  33.6  0.63  50.0  1.0
1  1.0   85.0  66.0  29.0  125.0  26.6  0.35  31.0  1.0
2  8.0  183.0  64.0  29.0  125.0  23.3  0.67  32.0  1.0
3  1.0   89.0  66.0  23.0   94.0  28.1  0.17  21.0  1.0
4  4.0  137.0  40.0  35.0  168.0  43.1  2.29  33.0  1.0

SimpleImputer con moda (numero mas frecuente)

In [ ]:
# Crear un numpy array con los valores
valores = df.values

# definir el imputador
imputador = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

# trabsformar el dataset
transformados = imputador.fit_transform(valores)

# Contar el numero de NaN en cada columna
print('Missing: %d' % isnan(transformados).sum())
transformados=pd.DataFrame(transformados)

#transformados= transformados.rename(columns={0: "NEMB", 1: "GLU", 2: "PART",3:"GROS",4:"HUR",5:"BMI",6:"FPRED",7:"AGE",8:"CLASS"})
print(transformados.head().round(2))

Missing: 0
     0      1     2     3      4     5     6     7    8
0  6.0  148.0  72.0  35.0  105.0  33.6  0.63  50.0  1.0
1  1.0   85.0  66.0  29.0  105.0  26.6  0.35  31.0  1.0
2  8.0  183.0  64.0  32.0  105.0  23.3  0.67  32.0  1.0
3  1.0   89.0  66.0  23.0   94.0  28.1  0.17  21.0  1.0
4  1.0  137.0  40.0  35.0  168.0  43.1  2.29  33.0  1.0

In [ ]:
# Para obtener ayuda sobre la clase
SimpleImputer?

Init signature:
SimpleImputer(
    *,
    missing_values=nan,
    strategy='mean',
    fill_value=None,
    verbose='deprecated',
    copy=True,
    add_indicator=False,
)
Docstring:
Imputation transformer for completing missing values.

Read more in the :ref:`User Guide <impute>`.

.. versionadded:: 0.20
   `SimpleImputer` replaces the previous `sklearn.preprocessing.Imputer`
   estimator which is now removed.

Parameters
----------
missing_values : int, float, str, np.nan, None or pandas.NA, default=np.nan
    The placeholder for the missing values. All occurrences of
    `missing_values` will be imputed. For pandas' dataframes with
    nullable integer dtypes with missing values, `missing_values`
    can be set to either `np.nan` or `pd.NA`.

strategy : str, default='mean'
    The imputation strategy.

    - If "mean", then replace missing values using the mean along
      each column. Can only be used with numeric data.
    - If "median", then replace missing values using the median along
      each column. Can only be used with numeric data.
    - If "most_frequent", then replace missing using the most frequent
      value along each column. Can be used with strings or numeric data.
      If there is more than one such value, only the smallest is returned.
    - If "constant", then replace missing values with fill_value. Can be
      used with strings or numeric data.

    .. versionadded:: 0.20
       strategy="constant" for fixed value imputation.

fill_value : str or numerical value, default=None
    When strategy == "constant", fill_value is used to replace all
    occurrences of missing_values.
    If left to the default, fill_value will be 0 when imputing numerical
    data and "missing_value" for strings or object data types.

verbose : int, default=0
    Controls the verbosity of the imputer.

    .. deprecated:: 1.1
       The 'verbose' parameter was deprecated in version 1.1 and will be
       removed in 1.3. A warning will always be raised upon the removal of
       empty columns in the future version.

copy : bool, default=True
    If True, a copy of X will be created. If False, imputation will
    be done in-place whenever possible. Note that, in the following cases,
    a new copy will always be made, even if `copy=False`:

    - If `X` is not an array of floating values;
    - If `X` is encoded as a CSR matrix;
    - If `add_indicator=True`.

add_indicator : bool, default=False
    If True, a :class:`MissingIndicator` transform will stack onto output
    of the imputer's transform. This allows a predictive estimator
    to account for missingness despite imputation. If a feature has no
    missing values at fit/train time, the feature won't appear on
    the missing indicator even if there are missing values at
    transform/test time.

Attributes
----------
statistics_ : array of shape (n_features,)
    The imputation fill value for each feature.
    Computing statistics can result in `np.nan` values.
    During :meth:`transform`, features corresponding to `np.nan`
    statistics will be discarded.

indicator_ : :class:`~sklearn.impute.MissingIndicator`
    Indicator used to add binary indicators for missing values.
    `None` if `add_indicator=False`.

n_features_in_ : int
    Number of features seen during :term:`fit`.

    .. versionadded:: 0.24

feature_names_in_ : ndarray of shape (`n_features_in_`,)
    Names of features seen during :term:`fit`. Defined only when `X`
    has feature names that are all strings.

    .. versionadded:: 1.0

See Also
--------
IterativeImputer : Multivariate imputation of missing values.

Notes
-----
Columns which only contained missing values at :meth:`fit` are discarded
upon :meth:`transform` if strategy is not `"constant"`.

Examples
--------
>>> import numpy as np
>>> from sklearn.impute import SimpleImputer
>>> imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
>>> imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
SimpleImputer()
>>> X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
>>> print(imp_mean.transform(X))
[[ 7.   2.   3. ]
 [ 4.   3.5  6. ]
 [10.   3.5  9. ]]
File:           c:\users\ignacio\anaconda3\envs\quilmes\lib\site-packages\sklearn\impute\_base.py
Type:           type
Subclasses:

In [ ]:
transformados=pd.DataFrame(transformados)
transformados= transformados.rename(columns={0: "NEMB", 1: "GLU", 2: "PART",3:"GROS",4:"HUR",5:"BMI",6:"FPRED",7:"AGE",8:"CLASS"})
transformados.head()

   NEMB    GLU  PART  GROS    HUR   BMI  FPRED   AGE  CLASS
0   6.0  148.0  72.0  35.0  105.0  33.6  0.627  50.0    1.0
1   1.0   85.0  66.0  29.0  105.0  26.6  0.351  31.0    1.0
2   8.0  183.0  64.0  32.0  105.0  23.3  0.672  32.0    1.0
3   1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0    1.0
4   1.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0    1.0

In [ ]:
url='https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv'
df= pd.read_csv(url,sep=',', header=None)
print(df.shape)
df=df.replace(0, np.nan)
print(df.shape)

(768, 9)
(768, 9)

# Agrupaciones

In [ ]:
df_lluvias_archivo = pd.read_csv('pune_1965_to_2002.csv')
df_lluvias_archivo.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [ ]:
df_lluvias_archivo.tail()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
33,1998,0.008,2.671,0.073,0.377,15.717,238.609,590.663,362.357,243.444,96.324,52.965,0.035
34,1999,0.000,1.431,0.000,0.642,35.828,415.471,277.137,98.616,225.962,180.300,0.263,0.033
35,2000,0.000,0.170,0.000,1.193,26.237,371.328,265.417,220.814,147.196,38.246,15.274,8.187
36,2001,0.147,0.000,2.178,1.528,7.860,247.982,279.547,189.404,158.025,135.518,23.633,0.003
37,2002,0.231,0.911,0.388,53.266,18.430,509.145,84.936,257.205,78.269,21.486,0.614,0.000

In [ ]:
indice = list(df_lluvias_archivo.Year)
indice

[1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002]

In [ ]:
columnas = df_lluvias_archivo.columns[1:]
columnas

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

In [ ]:
valores = df_lluvias_archivo.values[:,1:]
valores

array([[2.90000e-02, 6.90000e-02, 0.00000e+00, 2.16670e+01, 1.78590e+01,
        1.02111e+02, 6.06071e+02, 4.02521e+02, 6.95110e+01, 5.24900e+00,
        1.62320e+01, 2.20750e+01],
       [9.05000e-01, 0.00000e+00, 0.00000e+00, 2.98100e+00, 6.30080e+01,
        9.40880e+01, 4.81942e+02, 5.93860e+01, 1.50624e+02, 1.30800e+00,
        4.12140e+01, 4.13200e+00],
       [2.48000e-01, 3.39000e+00, 1.32000e+00, 1.34820e+01, 1.11160e+01,
        2.51314e+02, 7.80006e+02, 1.81069e+02, 1.83757e+02, 5.04040e+01,
        8.39300e+00, 3.76850e+01],
       [3.18000e-01, 3.03500e+00, 1.70400e+00, 2.33070e+01, 7.44100e+00,
        1.79872e+02, 3.79354e+02, 1.71979e+02, 2.19884e+02, 7.39970e+01,
        2.33260e+01, 2.02000e+00],
       [2.48000e-01, 2.52400e+00, 3.34000e-01, 4.56900e+00, 6.21300e+00,
        3.93682e+02, 6.78354e+02, 3.97335e+02, 2.05413e+02, 2.40140e+01,
        2.43850e+01, 1.95100e+00],
       [7.00000e-02, 0.00000e+00, 1.00000e-03, 1.62180e+01, 6.80360e+01,
        3.00546e+02, 3.30502e+02, 2.83476e+02, 1.58640e+02, 1.15758e+02,
        2.60000e-01, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 8.12000e-01, 5.76910e+01,
        2.97187e+02, 1.22195e+02, 3.72693e+02, 2.86056e+02, 3.94240e+01,
        5.54000e-01, 0.00000e+00],
       [0.00000e+00, 2.90000e-02, 0.00000e+00, 5.98200e+00, 1.91010e+01,
        1.32413e+02, 3.38484e+02, 6.87410e+01, 1.20415e+02, 1.07800e+00,
        2.40890e+01, 1.43000e-01],
       [0.00000e+00, 2.96900e+00, 2.34000e-01, 3.92500e+00, 1.49780e+01,
        3.04484e+02, 6.96024e+02, 2.56932e+02, 1.83206e+02, 1.01805e+02,
        5.51600e+00, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 6.42700e+00, 1.68640e+01, 5.12090e+01,
        1.48697e+02, 4.05359e+02, 3.19651e+02, 2.88533e+02, 1.88876e+02,
        2.60000e-01, 0.00000e+00],
       [3.33000e-01, 5.85000e-01, 0.00000e+00, 6.10000e-02, 3.06510e+01,
        3.59369e+02, 4.74143e+02, 4.04372e+02, 4.00001e+02, 1.05560e+02,
        2.76300e+00, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 5.99300e+00, 4.45400e+00, 3.57700e+00,
        7.73737e+02, 5.45379e+02, 4.36912e+02, 1.08459e+02, 1.36110e+01,
        4.48870e+01, 4.15800e+00],
       [0.00000e+00, 2.98100e+00, 3.28900e+00, 4.43200e+00, 3.21300e+01,
        3.19716e+02, 4.07246e+02, 1.29678e+02, 8.91500e+01, 8.31930e+01,
        1.22809e+02, 7.53000e+00],
       [6.10000e-02, 4.19700e+00, 4.00400e+00, 4.46230e+01, 5.29500e+01,
        4.03860e+02, 1.92399e+02, 2.39066e+02, 1.39119e+02, 2.67110e+01,
        6.09960e+01, 5.97000e-01],
       [0.00000e+00, 3.86000e-01, 3.34300e+00, 1.26000e-01, 6.86000e+00,
        3.42324e+02, 4.03925e+02, 4.51153e+02, 4.40381e+02, 1.90840e+01,
        1.01597e+02, 8.00000e-03],
       [8.00000e-03, 0.00000e+00, 8.32900e+00, 2.87640e+01, 4.81600e+00,
        3.49975e+02, 3.44268e+02, 4.04191e+02, 9.41270e+01, 1.08260e+01,
        1.55330e+01, 7.34800e+00],
       [2.25700e+00, 2.12100e+00, 4.45000e-01, 1.08170e+01, 1.71930e+01,
        3.60788e+02, 5.07155e+02, 2.17037e+02, 3.61165e+02, 8.00180e+01,
        3.71500e+00, 5.00000e-02],
       [0.00000e+00, 5.60000e-01, 0.00000e+00, 1.45850e+01, 5.04680e+01,
        1.45343e+02, 1.86691e+02, 1.94307e+02, 2.39402e+02, 4.92570e+01,
        6.24740e+01, 0.00000e+00],
       [3.95000e-01, 0.00000e+00, 0.00000e+00, 6.10000e-02, 1.05600e+00,
        2.25847e+02, 3.90041e+02, 5.37764e+02, 4.28050e+02, 3.07710e+01,
        1.00800e+00, 1.95500e+00],
       [0.00000e+00, 3.91000e-01, 5.77200e+00, 4.99700e+00, 5.08000e-01,
        3.67058e+02, 6.21607e+02, 1.38006e+02, 2.29276e+02, 1.67164e+02,
        3.78600e+00, 3.96000e-01],
       [2.50000e-02, 0.00000e+00, 9.22000e-01, 1.15120e+01, 6.45800e+00,
        2.34930e+02, 3.25191e+02, 2.97802e+02, 8.88770e+01, 1.39919e+02,
        1.08561e+02, 6.55000e-01],
       [0.00000e+00, 1.22900e+00, 0.00000e+00, 4.56700e+00, 2.25470e+01,
        6.35977e+02, 2.02570e+02, 2.47395e+02, 1.05095e+02, 3.74600e+00,
        7.45700e+00, 3.73860e+01],
       [3.01300e+00, 8.41000e+00, 1.36700e+00, 3.86400e+00, 8.05390e+01,
        2.00950e+02, 1.72864e+02, 4.77113e+02, 4.45740e+01, 1.50179e+02,
        1.82810e+01, 3.68450e+01],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 4.35700e+01, 1.28620e+01,
        1.86431e+02, 7.40613e+02, 2.11781e+02, 6.13522e+02, 1.23750e+01,
        4.58000e-01, 1.03700e+00],
       [8.00000e-03, 0.00000e+00, 9.61900e+00, 2.07740e+01, 2.01760e+01,
        4.25984e+02, 4.84451e+02, 1.77257e+02, 2.36803e+02, 2.34240e+01,
        5.85000e-01, 9.43000e-01],
       [4.00000e-03, 5.31000e-01, 7.89000e-01, 2.74000e-01, 7.83840e+01,
        4.23314e+02, 5.83557e+02, 4.51707e+02, 6.91820e+01, 1.15349e+02,
        4.18880e+01, 1.31500e+00],
       [4.00000e-03, 7.10000e-02, 9.72000e-01, 2.79640e+01, 3.04050e+01,
        5.65900e+02, 4.79719e+02, 1.93423e+02, 1.78727e+02, 4.13500e+00,
        1.59360e+01, 0.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 3.16500e+00, 9.58000e+00,
        2.27180e+02, 3.21551e+02, 4.28764e+02, 2.87582e+02, 4.00790e+01,
        5.98200e+00, 0.00000e+00],
       [0.00000e+00, 7.80000e-02, 1.21100e+00, 2.06200e+00, 3.24800e+00,
        2.34068e+02, 4.50088e+02, 1.50278e+02, 1.01928e+02, 2.25904e+02,
        6.24000e+00, 3.51470e+01],
       [8.79000e-01, 3.25000e-01, 2.41500e+00, 1.68230e+01, 3.33780e+01,
        7.49030e+02, 7.07986e+02, 2.30898e+02, 1.15509e+02, 1.16348e+02,
        1.40980e+01, 0.00000e+00],
       [6.95000e-01, 0.00000e+00, 1.77000e+00, 2.59490e+01, 2.39640e+01,
        1.63515e+02, 5.01461e+02, 1.14206e+02, 2.88262e+02, 8.43590e+01,
        4.86600e+00, 2.10000e-02],
       [1.60000e-02, 2.77900e+00, 8.70000e-02, 6.31800e+00, 5.13400e+00,
        4.53607e+02, 5.58586e+02, 2.12489e+02, 2.03642e+02, 1.76471e+02,
        1.22020e+01, 0.00000e+00],
       [1.28400e+00, 0.00000e+00, 7.47000e-01, 2.39120e+01, 4.66400e+00,
        6.73831e+02, 4.22913e+02, 5.41579e+02, 6.04770e+01, 3.10500e+01,
        6.53920e+01, 1.89910e+01],
       [8.00000e-03, 2.67100e+00, 7.30000e-02, 3.77000e-01, 1.57170e+01,
        2.38609e+02, 5.90663e+02, 3.62357e+02, 2.43444e+02, 9.63240e+01,
        5.29650e+01, 3.50000e-02],
       [0.00000e+00, 1.43100e+00, 0.00000e+00, 6.42000e-01, 3.58280e+01,
        4.15471e+02, 2.77137e+02, 9.86160e+01, 2.25962e+02, 1.80300e+02,
        2.63000e-01, 3.30000e-02],
       [0.00000e+00, 1.70000e-01, 0.00000e+00, 1.19300e+00, 2.62370e+01,
        3.71328e+02, 2.65417e+02, 2.20814e+02, 1.47196e+02, 3.82460e+01,
        1.52740e+01, 8.18700e+00],
       [1.47000e-01, 0.00000e+00, 2.17800e+00, 1.52800e+00, 7.86000e+00,
        2.47982e+02, 2.79547e+02, 1.89404e+02, 1.58025e+02, 1.35518e+02,
        2.36330e+01, 3.00000e-03],
       [2.31000e-01, 9.11000e-01, 3.88000e-01, 5.32660e+01, 1.84300e+01,
        5.09145e+02, 8.49360e+01, 2.57205e+02, 7.82690e+01, 2.14860e+01,
        6.14000e-01, 0.00000e+00]])

In [ ]:
df_lluvias = pd.DataFrame(valores,index=indice,columns=columnas)
df_lluvias.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [ ]:
df_lluvias.sum()

Jan       11.186
Feb       41.843
Mar       63.733
Apr      470.487
May      952.272
Jun    12809.663
Jul    16340.395
Aug    10529.357
Sep     7642.245
Oct     2783.320
Nov      958.492
Dec      230.646
dtype: float64

In [ ]:
df_lluvias.mean(axis='columns')

1965    105.282833
1966     74.965667
1967    126.848667
1968     90.519750
1969    144.918500
1970    106.125583
1971     98.051000
1972     59.206250
1973    130.839417
1974    118.823000
1975    148.153167
1976    161.763917
1977    100.179500
1978     97.381917
1979    147.432250
1980    105.682083
1981    130.230083
1982     78.590583
1983    134.745667
1984    128.246750
1985    101.237667
1986    105.664083
1987     99.833250
1988    151.887417
1989    116.668667
1990    147.191167
1991    124.771333
1992    110.323583
1993    100.854333
1994    165.640750
1995    100.755667
1996    135.944250
1997    153.736667
1998    133.603583
1999    102.973583
2000     91.171833
2001     87.152083
2002     85.406750
dtype: float64

In [ ]:
df_lluvias.describe().round(1)

        Jan   Feb   Mar   Apr   May  ...    Aug    Sep    Oct    Nov   Dec
count  38.0  38.0  38.0  38.0  38.0  ...   38.0   38.0   38.0   38.0  38.0
mean    0.3   1.1   1.7  12.4  25.1  ...  277.1  201.1   73.2   25.2   6.1
std     0.6   1.7   2.5  13.7  22.5  ...  132.2  123.7   62.9   31.8  11.7
min     0.0   0.0   0.0   0.1   0.5  ...   59.4   44.6    1.1    0.3   0.0
25%     0.0   0.0   0.0   2.3   7.0  ...  183.2  105.9   22.0    3.7   0.0
50%     0.0   0.2   0.6   5.5  18.1  ...  243.2  181.0   49.8   14.7   0.5
75%     0.2   1.9   2.1  19.8  33.1  ...  401.2  242.4  115.7   37.0   4.2
max     3.0   8.4   9.6  53.3  80.5  ...  541.6  613.5  225.9  122.8  37.7

[8 rows x 12 columns]

In [ ]:
df_lluvias.T.describe().round(1)

        1965   1966   1967   1968   1969  ...   1998   1999   2000   2001   2002
count   12.0   12.0   12.0   12.0   12.0  ...   12.0   12.0   12.0   12.0   12.0
mean   105.3   75.0  126.8   90.5  144.9  ...  133.6  103.0   91.2   87.2   85.4
std    193.8  136.7  223.5  121.5  226.5  ...  189.4  140.4  128.4  108.0  152.2
min      0.0    0.0    0.2    0.3    0.2  ...    0.0    0.0    0.0    0.0    0.0
25%      4.0    1.2    7.1    2.8    2.4  ...    0.3    0.2    0.9    1.2    0.6
50%     19.8   22.7   25.6   23.3   15.1  ...   34.3   18.6   20.8   15.7   20.0
75%     77.7   70.8  181.7  174.0  252.5  ...  239.8  191.7  165.6  165.9   79.9
max    606.1  481.9  780.0  379.4  678.4  ...  590.7  415.5  371.3  279.5  509.1

[8 rows x 38 columns]

In [ ]:
df_lluvias_archivo.head()

   Year    Jan    Feb    Mar     Apr  ...      Aug      Sep     Oct     Nov     Dec
0  1965  0.029  0.069  0.000  21.667  ...  402.521   69.511   5.249  16.232  22.075
1  1966  0.905  0.000  0.000   2.981  ...   59.386  150.624   1.308  41.214   4.132
2  1967  0.248  3.390  1.320  13.482  ...  181.069  183.757  50.404   8.393  37.685
3  1968  0.318  3.035  1.704  23.307  ...  171.979  219.884  73.997  23.326   2.020
4  1969  0.248  2.524  0.334   4.569  ...  397.335  205.413  24.014  24.385   1.951

[5 rows x 13 columns]

In [ ]:
# Metodo grouby
print(df_lluvias_archivo.groupby('Year')['Jan','Feb','Mar'].mean().head(15))

        Jan    Feb    Mar
Year
1965  0.029  0.069  0.000
1966  0.905  0.000  0.000
1967  0.248  3.390  1.320
1968  0.318  3.035  1.704
1969  0.248  2.524  0.334
1970  0.070  0.000  0.001
1971  0.000  0.000  0.000
1972  0.000  0.029  0.000
1973  0.000  2.969  0.234
1974  0.000  0.000  6.427
1975  0.333  0.585  0.000
1976  0.000  0.000  5.993
1977  0.000  2.981  3.289
1978  0.061  4.197  4.004
1979  0.000  0.386  3.343

C:\Users\Ignacio\AppData\Local\Temp\ipykernel_2644\2986154843.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df_lluvias_archivo.groupby('Year')['Jan','Feb','Mar'].mean().head(15))

# Operaciones sobre strings

In [ ]:
Presidentes_archivo = pd.read_csv('us_presidents 2.csv')
Presidentes_archivo.head()

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

In [ ]:
Presidentes_nombres = pd.Series(Presidentes_archivo['president'])
Presidentes_nombres

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [ ]:
Presidentes_nombres.str.upper()

0          GEORGE WASHINGTON
1                 JOHN ADAMS
2           THOMAS JEFFERSON
3              JAMES MADISON
4               JAMES MONROE
5          JOHN QUINCY ADAMS
6             ANDREW JACKSON
7           MARTIN VAN BUREN
8     WILLIAM HENRY HARRISON
9                 JOHN TYLER
10             JAMES K. POLK
11            ZACHARY TAYLOR
12          MILLARD FILLMORE
13           FRANKLIN PIERCE
14            JAMES BUCHANAN
15           ABRAHAM LINCOLN
16            ANDREW JOHNSON
17          ULYSSES S. GRANT
18       RUTHERFORD B. HAYES
19         JAMES A. GARFIELD
20         CHESTER A. ARTHUR
21          GROVER CLEVELAND
22         BENJAMIN HARRISON
23          GROVER CLEVELAND
24          WILLIAM MCKINLEY
25        THEODORE ROOSEVELT
26       WILLIAM HOWARD TAFT
27            WOODROW WILSON
28         WARREN G. HARDING
29           CALVIN COOLIDGE
30            HERBERT HOOVER
31     FRANKLIN D. ROOSEVELT
32           HARRY S. TRUMAN
33      DWIGHT D. EISENHOWER
34           JOHN F. KENNEDY
35         LYNDON B. JOHNSON
36             RICHARD NIXON
37               GERALD FORD
38              JIMMY CARTER
39             RONALD REAGAN
40         GEORGE H. W. BUSH
41              BILL CLINTON
42            GEORGE W. BUSH
43              BARACK OBAMA
44              DONALD TRUMP
Name: president, dtype: object

In [ ]:
Presidentes_nombres.str.len()

0     17
1     10
2     16
3     13
4     12
5     17
6     14
7     16
8     22
9     10
10    13
11    14
12    16
13    15
14    14
15    15
16    14
17    16
18    19
19    17
20    17
21    16
22    17
23    16
24    16
25    18
26    19
27    14
28    17
29    15
30    14
31    21
32    15
33    20
34    15
35    17
36    13
37    11
38    12
39    13
40    17
41    12
42    14
43    12
44    12
Name: president, dtype: int64

In [ ]:
Presidentes_nombres.str.lower()

0          george washington
1                 john adams
2           thomas jefferson
3              james madison
4               james monroe
5          john quincy adams
6             andrew jackson
7           martin van buren
8     william henry harrison
9                 john tyler
10             james k. polk
11            zachary taylor
12          millard fillmore
13           franklin pierce
14            james buchanan
15           abraham lincoln
16            andrew johnson
17          ulysses s. grant
18       rutherford b. hayes
19         james a. garfield
20         chester a. arthur
21          grover cleveland
22         benjamin harrison
23          grover cleveland
24          william mckinley
25        theodore roosevelt
26       william howard taft
27            woodrow wilson
28         warren g. harding
29           calvin coolidge
30            herbert hoover
31     franklin d. roosevelt
32           harry s. truman
33      dwight d. eisenhower
34           john f. kennedy
35         lyndon b. johnson
36             richard nixon
37               gerald ford
38              jimmy carter
39             ronald reagan
40         george h. w. bush
41              bill clinton
42            george w. bush
43              barack obama
44              donald trump
Name: president, dtype: object

In [ ]:
Presidentes_nombres[Presidentes_nombres.str.startswith('J') ]

1            John Adams
3         James Madison
4          James Monroe
5     John Quincy Adams
9            John Tyler
10        James K. Polk
14       James Buchanan
19    James A. Garfield
34      John F. Kennedy
38         Jimmy Carter
Name: president, dtype: object

In [ ]:
Presidentes_nombres.str.replace('Calvin',repl=' ',)

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29                  Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

# Series de tiempo

In [ ]:
fecha = pd.to_datetime('03/01/2020',dayfirst=True)
fecha

Timestamp('2020-01-03 00:00:00')

In [ ]:
fin = pd.to_datetime('10/01/2020',dayfirst=True)
fechas_1 = pd.date_range(start=fecha, end=fin)
fechas_1

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
fechas_2 = pd.date_range(start=fecha, periods=8)
fechas_2

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
fechas_3 = pd.date_range(start= fecha, periods= 8, freq='M')
fechas_3

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [ ]:
mes_inicio = fecha.strftime('%Y-%m')
mes_inicio

'2020-01'

In [ ]:
fechas_4 = pd.period_range(start=mes_inicio, periods=8, freq='M')
fechas_4

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08'],
            dtype='period[M]', freq='M')

In [ ]:
cuanto_tiempo = fechas_3[7] - fechas_3[0]
cuanto_tiempo

Timedelta('213 days 00:00:00')

In [ ]:
cuanto_tiempo_meses = fechas_3[7].to_period('M') - fechas_3[0].to_period('M')
cuanto_tiempo_meses

In [ ]:
fechas_presidentes_orig = Presidentes_archivo['start']
fechas_presidentes_orig

0         April 30, 1789
1          March 4, 1797
2          March 4, 1801
3          March 4, 1809
4          March 4, 1817
5          March 4, 1825
6          March 4, 1829
7          March 4, 1837
8          March 4, 1841
9          April 4, 1841
10         March 4, 1845
11         March 4, 1849
12          July 9, 1850
13         March 4, 1853
14         March 4, 1857
15         March 4, 1861
16        April 15, 1865
17         March 4, 1869
18         March 4, 1877
19         March 4, 1881
20    September 19, 1881
21         March 4, 1885
22         March 4, 1889
23         March 4, 1893
24         March 4, 1897
25    September 14, 1901
26         March 4, 1909
27         March 4, 1913
28         March 4, 1921
29        August 2, 1923
30         March 4, 1929
31         March 4, 1933
32        April 12, 1945
33      January 20, 1953
34      January 20, 1961
35     November 22, 1963
36      January 20, 1969
37        August 9, 1974
38      January 20, 1977
39      January 20, 1981
40      January 20, 1989
41      January 20, 1993
42      January 20, 2001
43      January 20, 2009
44      January 20, 2017
Name: start, dtype: object

In [ ]:
type(fechas_presidentes_orig)

pandas.core.series.Series

In [ ]:
fechas_presidentes = pd.DatetimeIndex(fechas_presidentes_orig)
fechas_presidentes

DatetimeIndex(['1789-04-30', '1797-03-04', '1801-03-04', '1809-03-04',
               '1817-03-04', '1825-03-04', '1829-03-04', '1837-03-04',
               '1841-03-04', '1841-04-04', '1845-03-04', '1849-03-04',
               '1850-07-09', '1853-03-04', '1857-03-04', '1861-03-04',
               '1865-04-15', '1869-03-04', '1877-03-04', '1881-03-04',
               '1881-09-19', '1885-03-04', '1889-03-04', '1893-03-04',
               '1897-03-04', '1901-09-14', '1909-03-04', '1913-03-04',
               '1921-03-04', '1923-08-02', '1929-03-04', '1933-03-04',
               '1945-04-12', '1953-01-20', '1961-01-20', '1963-11-22',
               '1969-01-20', '1974-08-09', '1977-01-20', '1981-01-20',
               '1989-01-20', '1993-01-20', '2001-01-20', '2009-01-20',
               '2017-01-20'],
              dtype='datetime64[ns]', name='start', freq=None)

In [ ]:
Serie_presidentes = pd.Series(Presidentes_nombres.values,index=fechas_presidentes)
Serie_presidentes

start
1789-04-30         George Washington
1797-03-04                John Adams
1801-03-04          Thomas Jefferson
1809-03-04             James Madison
1817-03-04              James Monroe
1825-03-04         John Quincy Adams
1829-03-04            Andrew Jackson
1837-03-04          Martin Van Buren
1841-03-04    William Henry Harrison
1841-04-04                John Tyler
1845-03-04             James K. Polk
1849-03-04            Zachary Taylor
1850-07-09          Millard Fillmore
1853-03-04           Franklin Pierce
1857-03-04            James Buchanan
1861-03-04           Abraham Lincoln
1865-04-15            Andrew Johnson
1869-03-04          Ulysses S. Grant
1877-03-04       Rutherford B. Hayes
1881-03-04         James A. Garfield
1881-09-19         Chester A. Arthur
1885-03-04          Grover Cleveland
1889-03-04         Benjamin Harrison
1893-03-04          Grover Cleveland
1897-03-04          William McKinley
1901-09-14        Theodore Roosevelt
1909-03-04       William Howard Taft
1913-03-04            Woodrow Wilson
1921-03-04         Warren G. Harding
1923-08-02           Calvin Coolidge
1929-03-04            Herbert Hoover
1933-03-04     Franklin D. Roosevelt
1945-04-12           Harry S. Truman
1953-01-20      Dwight D. Eisenhower
1961-01-20           John F. Kennedy
1963-11-22         Lyndon B. Johnson
1969-01-20             Richard Nixon
1974-08-09               Gerald Ford
1977-01-20              Jimmy Carter
1981-01-20             Ronald Reagan
1989-01-20         George H. W. Bush
1993-01-20              Bill Clinton
2001-01-20            George W. Bush
2009-01-20              Barack Obama
2017-01-20              Donald Trump
dtype: object